/* =========================================
============ TABLE OF CONTENTS: ============
* Responsive Grids Layout
* Responsive Archive File
* Responsive Author File
* Responsive Single File
========================================= */
/* =================== Responsive Grids Layout =================== */
.grids .box-content {
    display: block;
    margin-bottom: 30px;
}

.grids .content {
    border-bottom: none;
    margin-bottom: 15px;
    margin-left: 0;
    width: 100%;
}

.grids .content-gambar {
    width: 100%;
}

/* Grids2 */
.grids2 .box-content:nth-child(odd) .content {
    width: 100%;
}

/* =================== Responsive Archive File =================== */
.main-archive .archive-title {
    margin: 3% 0;
}

/* =================== Responsive Author File =================== */
.main-author .author-box,
.main-author .author-box .author-sosmed {
    justify-content: center;
}

.author-box .author-info {
    width: 90%;
}

.author-box .author-info h4,
.author-box .author-info small {
    text-align: center;
    margin-bottom: 15px;
}

/* =================== Responsive Single File =================== */
.main-single .author-box {
    justify-content: center;
}

.main-single .whatsapp {
    display: block;
}