/* =========================================
============ TABLE OF CONTENTS: ============
* Responsive Footer Widget Default File
* Responsive Footer Navigasi File
========================================= */
/* =================== Responsive Footer Widget Default File =================== */
#footer .footer-widgets {
    width: 100%;
}

#footer .widget {
    margin: 3% 0;
}

/* =================== Responsive Footer Navigasi File =================== */
#footer .box-navigasi-footer {
    display: block;
    padding: 3%;
}

#footer #navigasi li,
#footer #navigasi li:first-child {
    display: block;
    padding: 2px;
    text-align: center;
}

#footer .footer-sosmed {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}