.control-section-xolo h3 {
	margin: 0;
	padding: 1px 0;
	border: 0;
	position: relative;
}
.control-section-xolo h3 a {
	background: #51A852;
    display: block;
    padding: 11px 10px 12px 14px;
    text-decoration: none;
    color: #fff;
}

li#accordion-section-xolo h3 {
    margin: 0;
    padding: 1px 0;
    border: 0;
    position: relative;
}